

.linkDesign {

    font-weight: bold;

    color: rgba(6, 72, 164, 0.428);

    margin: 1em;
    transition: 0.5s;
}

.linkDesign:hover {
    cursor: pointer;
    transition: 0.5s;
    color: black;
}
